---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="FlashGrub">
  <main class="mx-auto max-w-3xl px-6 py-24">
    <h1 class="text-5xl font-semibold">
      I'm easy to reach!
    </h1>

    <p class="mt-4 text-lg text-neutral-400">
      Email me:
      <a
        href="mailto:yc4802@barnard.edu"
        class="ml-1 underline hover:text-pink-500 transition"
      >
        yc4802@barnard.edu
      </a>
    </p>
  </main>
</BaseLayout>