---
import BaseLayout from "../layouts/baselayout.astro";
import ProjectFolder from "../components/projectfolder.astro";
---

<BaseLayout title="Yuni Portfolio">
  <main class="mx-auto max-w-5xl px-6 py-14">
    <section class="rounded-2xl p-8">
		<h1 class="text-4xl font-semibold leading-[1.62]">
		  Hi, I’m Yuni!
		</h1>

    <h2 class="text-4xl font-semibold leading-[2]">
		  I make complex concepts intuitive through design.
		</h2>
  
		<p class="mt-6 text-2xl text-neutral-300 leading-[1.62]">
		  Product Designer @ FlashGrub <br> Human-Computer Interaction student @ Columbia University
		</p>
	  </section>

    <section class="mt-20 space-y-8">
      <ProjectFolder
        tab="             "
        title="FlashGrub App"
        description="Creating prototypes to implement subscription models and refine app flows."
        imageSrc="/images/fgscreen.png"
        href="/projects/figma"
        meta="Figma · Ongoing"
      />

      <ProjectFolder
        tab=" "
        title="Furniture Flow App"
        description="Prototype for furniture and resale delivery app."
        imageSrc="/images/ffprototype.png"
        href="/projects/duolingo"
        meta="Figma · Fall 2025"
      />

      <ProjectFolder
        tab=" "
        title="Coffee Shop Ordering Platform"
        description="Online ordering platform for the campus coffee shop, The Green Bean."
        imageSrc="/images/gbprototype.png"
        href="/projects/onboarding"
        meta="Figma · Fall 2024"
      />
    </section>
  </main>
</BaseLayout>
