---
import BaseLayout from "../layouts/baselayout.astro";
import ProjectFolder from "../components/projectfolder.astro";
---

<BaseLayout title="Yuni Portfolio">
  <main class="mx-auto max-w-5xl px-6 py-14">
    <section class="rounded-2xl p-8">
		<h1 class="text-4xl text-neutral-300 font-semibold leading-[2]">
		  Hi, I’m Yuni
		</h1>

    <h2 class="text-4xl font-semibold leading-[1.5]">
		  I make complex concepts intuitive through design.
		</h2>
  
		<p class="ibm-plex-mono-regular text-lg mt-6 text-neutral-300 leading-[1.62]">
		  Product Designer @ 
      <span class="text-emerald-600 font-medium">FlashGrub</span> 
      <br> 
      Human-Computer Interaction student @
      <span class="text-sky-600 font-medium">Columbia University</span>
		</p>
	  </section>

    <section class="mt-32 relative space-y-[17vh]">
      <ProjectFolder
        tab="             "
        title="FlashGrub App"
        description="Iteratively designing an early-stage mobile food marketplace."
        imageSrc="/images/fgscreen.png"
        href="/flashgrub"
        meta="Figma · Ongoing"
        bgClass="bg-[#2a232e]"
        borderClass="border-[#5b4473]"
        style="z-index: 10"
      />

<!--       <ProjectFolder
        tab=" "
        title="Furniture Flow App"
        description="Prototype for furniture and resale delivery app."
        imageSrc="/images/ffprototype.png"
        href="/furnitureflow"
        meta="Figma · Fall 2025"
        bgClass="bg-[#23232e]"
        borderClass="border-[#444573]"
        style="z-index: 20"
      /> -->

      <ProjectFolder
        tab=" "
        title="Coffee Shop Ordering Platform"
        description="Creating an online ordering platform for campus coffee shop, the Green Bean."
        imageSrc="/images/gbscreen.png"
        href="/greenbean"
        meta="Figma · Fall 2024"
        bgClass="bg-[#242e23]"
        borderClass="border-[#497344]"
        style="z-index: 30"
      />
      <div class="h-[7vh]"></div>
    </section>
  </main>
</BaseLayout>
