---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="About Yuni">
  <main class="mx-auto max-w-3xl px-6 py-24">
    <h1 class="text-4xl font-semibold">Who I am, why I do what I do etc.</h1>

    <p class="mt-6 space-y-2 text-lg text-neutral-400">
          I’m a junior at Barnard from the Boston area, where I was born and raised.
      After taking my first computer science course during my freshman fall of 
      college, I became fascinated by the creativity and exploration inherent in 
      coding. With the concurrent popularization of AI, I became drawn to 
      questions of how humans interact with technology that can seem so 
      antithetic to our humanity. This broader interplay is what draws me 
      to product design and management. While I’m principally interested in the 
      overlap between users and product, I still love to learn about both 
      parties’ underlying mechanisms, which is what motivates me to continue 
      studying topics such as Databases, Applied Machine Learning, and 
      Neuroscience at school as a Cognitive Science major with a Computer 
      Science minor.<br>
      I want to make products for everyone. Growing up in an immigrant 
      household, I’ve spent my life trying to close gaps of understanding– 
      whether they be of culture, language, or generation. My interest in 
      product work is an interest in making technology, with all of its 
      wonders and utility, more accessible and intuitive. <br>
      In my free time, I rock climb and seek out good meals. 
    </p>
  </main>
</BaseLayout>