---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="About Yuni">
  <main class="mx-auto max-w-3xl px-6 py-24">
    <h1 class="text-3xl font-semibold">About Me</h1>

    <ul class="mt-6 space-y-2 text-lg text-neutral-600 list-disc pl-5">
      <li>
        a junior at Barnard studying Cognitive Science with an HCI specialization and Computer Science minor
      </li>
      <li>a rock climber</li>
      <li>a lover of pigeons and cheese</li>
      <li>a transfer student from Occidental College</li>
    </ul>
  </main>
</BaseLayout>