---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="About Yuni">
  <main class="mx-auto max-w-4xl px-6 py-24 space-y-10">
    <h1 class="text-4xl font-semibold">
      Get to know more about me
    </h1>

    <div class="space-y-6 text-lg text-neutral-400 leading-relaxed">
      <p class="indent-8">
        I’m a junior at Barnard from the Boston area.
        After taking my first computer science course during my freshman fall of
        college, I became fascinated by the creativity and exploration inherent in
        coding. With the concurrent popularization of AI, I also became drawn to
        questions of how humans interact with technology that can seem so
        antithetic to human nature. This broader interplay is what draws me
        to product design and management.
      </p>

      <p class="indent-8">
        While I’m principally interested in the overlap between users and product,
        I still love to learn about both parties’ underlying mechanisms, which is
        what motivates me to continue studying topics such as Databases, Applied
        Machine Learning, and Neuroscience at school as a Cognitive Science major
        with a Computer Science minor.
      </p>

      <p class="indent-8">
        I want to make products for everyone. Growing up in an immigrant
        household, I’ve spent my life trying to close gaps of understanding —
        whether they be of culture, language, or generation. My interest in
        product work is rooted in a desire to make technology, with all of its
        wonders and utility, more accessible and intuitive.
      </p>

      <p class="indent-8">
        In my free time, I rock climb, seek out good meals, and keep an eye out for cool looking pigeons.
      </p>
    </div>
  </main>
</BaseLayout>