---
import "../styles/global.css";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>

  <body class="antialiased">
    <!-- header -->
    <header
     class="sticky top-0 z-50 w-full
         backdrop-blur"
>
     <div class="mx-auto max-w-5xl px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <a href="/" class="font-semibold">YC</a>

      <nav class="flex gap-14 text-lg">
        <a href="/yuni" class="hover:text-pink-500 transition">Introduction</a>
        <a href="/contact" class="hover:text-pink-500 transition">Contact</a>
        <a href="/Yuni_Chun_Resume_5 (4).pdf" target="_blank" rel="noopener noreferrer" class="hover:text-pink-500 transition">Resume</a>
      </nav>
    </div>
  </div>
</header>


    <slot />

    <!-- footer -->
    <footer class="border-t border-white/10">
      <div class="mx-auto max-w-3xl px-6 py-20 text-sm text-neutral-500">
        <div class = "text-xl font-bold mb-2 text-neutral-300">
          Thanks for stopping by :)
        </div>
        <div>
          Made with care (and Astro) © {new Date().getFullYear()} Yunyoung Chun
        </div>
      </div>
    </footer>
  </body>
</html>
